.main {
  position: relative;
  margin: 0;
}

.main .background {
  opacity: 0.18;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}

.header {
  position: relative;
  height: 170px;
}

.header .nav {
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.05);
  padding-top: 30px;
  padding-bottom: 30px;
}

.header .nav .logo {
  width: auto;
  height: 46px;
}

.header .nav .rules {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  color: #a8a8a8;
  text-decoration: underline;
  font-family: 'TT Norms Pro', sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 26px;
  cursor: pointer;
}

.header .nav .rules:hover {
  color: rgb(197, 8, 8);
}

.header .nav .button {
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  border-radius: 40px;
  color: #2e2e2e;
  font-family: 'TT Norms Pro', sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding-top: 12px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 12px;
  cursor: pointer;
}

.header .nav .button:hover {
  color: rgb(197, 8, 8);
}

.welcome {
  position: relative;
  z-index: 1;
}

.welcome .picture {
  position: relative;
  margin-bottom: -50px;
  z-index: 1;
}

.welcome .label {
  color: rgb(197, 8, 8);
  font-family: 'TT Norms Pro', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 70px;
}

.welcome h1 {
  color: #fff;
  font-family: 'TT Norms Pro', sans-serif;
  font-weight: 900;
  font-size: 500%;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 0;
}

.welcome h2 {
  color: #969696;
  font-family: 'TT Norms Pro', sans-serif;
  font-weight: 800;
  font-size: 168%;
  text-transform: uppercase;
  margin-top: 0;
  margin-left: 5px;
  margin-bottom: 0;
}

.welcome h4 {
  color: #969696;
  font-family: 'TT Norms Pro', sans-serif;
  font-weight: 400;
  font-size: 80%;
  margin-top: 25px;
  margin-left: 5px;
  margin-bottom: 0;
}

.welcome .ip {
  background: linear-gradient(#2c2c2c, #2c2c2c) padding-box,
    linear-gradient(to right, #282828, #333333) border-box;
  border-radius: 50em;
  border: 3px solid transparent;
  border-radius: 40px;
  padding: 5px;
  padding-left: 25px;
  margin-top: 60px;
  display: inline-flex;
}

.welcome .ip .host {
  color: #c5c5c5;
  font-family: 'TT Norms Pro', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 11px;
  display: inline-flex;
}

.welcome .ip .version {
  background-color: #393939;
  border-radius: 40px;
  border: 2px solid #424242;
  color: #eeeeee;
  font-family: 'TT Norms Pro', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 10px;
  margin-left: 20px;
  display: inline-flex;
}

.welcome .online {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #56F000;
  margin-left: 15px;
}

.welcome .online:before {
  background: #56F000;
}

.welcome .online:before {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  animation: pulse 1.3s infinite ease-in;
}

.welcome .briefly {
  background-color: #242424;
  border-radius: 10px;
  box-shadow: 0px -0.5px 2px rgb(255, 255, 255, 0.2);
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  margin-bottom: 22px;
}

.welcome .briefly .title {
  color: #fff;
  font-family: 'TT Norms Pro', sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 28px;
}

.welcome .briefly .description {
  color: #969696;
  font-family: 'TT Norms Pro', sans-serif;
}

.welcome .state {
  position: relative;
  height: calc(100% - 103px);
  background: linear-gradient(to top, #242424 30%, rgb(203, 14, 14) 100%);
  border-radius: 10px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  margin-bottom: 22px;
  z-index: 2;
}

.welcome .state .title {
  color: #fff;
  font-family: 'TT Norms Pro', sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.welcome .state .subtitle {
  color: #fff;
  font-family: 'TT Norms Pro', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.welcome .state .picture {
  width: 100%;
  height: 194px;
  position: relative;
  background-image: url('/phase-2.jpg');
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 12px;
  border: 2px solid #424242;
}

.welcome .state .players {
  background-color: #393939;
  border-radius: 40px;
  border: 2px solid #424242;
  color: #eeeeee;
  font-family: 'TT Norms Pro', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-top: 8px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 10px;
  margin-top: 84px;
  display: inline-flex;
}

.welcome .state .players i {
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
}

.welcome .state .time {
  background-color: #393939;
  border-radius: 40px;
  border: 2px solid #424242;
  color: #eeeeee;
  font-family: 'TT Norms Pro', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-top: 8px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 10px;
  margin-top: 84px;
  margin-left: 13px;
  display: inline-flex;
}

.welcome .state .time i {
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  margin-top: 1px;
  margin-right: 8px;
}

.prime {
  position: relative;
  background-color: #242424;
  border-radius: 10px;
  box-shadow: 0px -0.5px 2px rgb(255, 255, 255, 0.2);
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 55px;
  margin-top: 200px;
  margin-bottom: 100px;
  z-index: 1;
}

.prime .icon {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 30px;
  height: 30px;
  background-color: #393939;
  border: 2px solid #424242;
  border-radius: 5px;
}

.prime .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #898989;
}

.prime .title {
  color: #3f8cff;
  font-family: 'TT Norms Pro', sans-serif;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 4px;
}

.prime .title span {
  color: #fff;
  font-size: 34px;
  font-weight: 800;
}

.prime .subtitle {
  color: #ffffff;
  font-family: 'TT Norms Pro', sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 3px;
  margin-bottom: 25px;
}

.prime .description {
  color: #969696;
  font-family: 'TT Norms Pro', sans-serif;
}

.footer {
  background-color: #1d1d1d;
  padding-top: 40px;
}

.footer .title {
  color: #b1b1b1;
  font-family: 'TT Norms Pro', sans-serif;
  font-weight: 900;
  font-size: 340%;
  text-transform: uppercase;
  margin-top: 5px;
  margin-left: -2px;
  margin-bottom: 5px;
}

.footer .precaution {
  color: #898989;
  width: 480px;
  font-weight: 400;
  font-size: 80%;
}

.footer .copyright {
  border-top: 1px solid #3a3a3a;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 60px;
}

.footer .copyright .info {
  color: #656565;
  font-size: 14px;
  display: inline-flex;
}

.footer .copyright .language {
  color: #656565;
  font-size: 14px;
  display: inline-flex;
}

@keyframes pulse {
  from {
    transform: scale(0.5);
    opacity: 1;
  }

  to {
    transform: scale(3);
    opacity: 0;
  }
}